<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Team</h1>
    <h2>............</h2>
    <h1>
        teams
        {%for i in teams%}
        <h2>{{i}}</h2>
        {%endfor%}

    </h1>
    <h1>Trophy : {{trophy}}</h1>
    <h1>
        {%if trophy <= 5%}
        <h2>it is team CSK OR MI</h2>
        {%else%}
        <h2>It is not CSK or MI</h2>
        {%endif%}
    </h1>
</body>
</html>